
body { font-family: sans-serif;
       font-size: 9pt;
       background: white }

/* outer table, consists of one cell only to create frame for inner tables */
.frametable { background: #b0b0b0 }

/* cells of edit form table */
.edit { font-size:10pt;
        background: #e0e0e0  }

/* header field of edit form table */
.editcaption { font-size:10pt;
               font-weight: normal;
               background: #c0c0c0 }

/* overhead stuff above list */
.listheader { font-size:10pt;
              padding-top: 0.2em;
              padding-bottom: 0.2em;
              padding-left:1em;
              padding-right:1em;
              font-weight: normal;
              background: #ffffff }

/* cells of list table */
.field { font-size: 9pt;
         padding-top: 0.1em;
         padding-bottom: 0.1em;
         padding-left:0.5em;
         padding-right:0.5em;
         background: #f0f0f0 ;
/* playing around:
         border-width: 1;
         border-height: 1;
         border-style: solid;
         border-color: #ffffff;
*/
         vertical-align:top }

/* cells of list table row with edited record */
.editedfield { font-size: 9pt;
         padding-top: 0.1em;
         padding-bottom: 0.1em;
         padding-left:0.5em;
         padding-right:0.5em;
         background: #ffb0b0;
         vertical-align:top }

/* cells of list table row with deleted (flag) record */
.delfield { font-size: 9pt;
         padding-top: 0.1em;
         padding-bottom: 0.1em;
         padding-left:0.5em;
         padding-right:0.5em;
         background: #c0c0ff;
         vertical-align:top }

/* links in first column (names), they link to edit form */
a.name:link { text-decoration: none;
              font-weight: bold;
              color: #000000; }

a.name:visited { text-decoration: none;
                 font-weight: bold;
                 color: #000000; }

a.name:active { text-decoration: none;
                font-weight: bold;
                color: #000000; }

/* drop-down menu style */
select { font-family: sans-serif;
        border-width: 1;
        border-height: 1;
        border-style: solid;
        border-color: #b0b0b0 }

/* text input style */
input { font-family: sans-serif;
        border-width: 1;
        border-height: 1;
        border-style: solid;
        border-color:#b0b0b0 }

/* form button style */
input.button { font-family: sans-serif;
         font-weight: normal;
         border-width: 1;
         border-height: 1;
         border-style: solid;
         border-color:#b0b0b0 }
        
